<style>
  .section-footer {
    display: block;
    margin-bottom: 50px;

  }

  .section-footer li {
    list-style-type: none;
    font-size: 15px;
  }

  .section-footer ul {
    padding-inline-start: 0;
  }

  #footer_icons {
    text-align: center;
  }

  #footer_icons li {
    display: inline-block;
    margin: 0 5px 40px;
  }

  #footer {
    justify-content: center;
  }

  #footer .footer-block {
    padding-left: 25px;
  }

  #bottom-footer {
    margin-top: 50px;
    justify-content: center;
  }

  #footer .footer-left,
  #footer .footer-right {
    display: inline-block;
  }

  hr.new1 {
    display: block;
    width: 20px;
    height: 2px;
    margin: 10px 0;
    margin-top: 10px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
    background-color: #ff0050;
    border: none;
  }

  p.new2 {
    font-size: 15px;
  }

  h4.new3 {
    font-size: 16px;
    margin-bottom: 0px;
  }
    .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  @media screen and (min-width:980px) {
    .row .desktop-1 {
      width: 6.25%
    }

    .row .desktop-2 {
      width: 14.58333333%
    }

    .row .desktop-3 {
      width: 22.91666667%
    }

    .row .desktop-4 {
      width: 31.25%
    }

    .row .desktop-5 {
      width: 39.58333333%
    }

    .row .desktop-6 {
      width: 47.91666667%
    }

    .row .desktop-7 {
      width: 56.25%
    }

    .row .desktop-8 {
      width: 64.58333333%
    }

    .row .desktop-9 {
      width: 72.91666667%
    }

    .row .desktop-10 {
      width: 81.25%
    }

    .row .desktop-11 {
      width: 89.58333333%
    }

    .row .desktop-12 {
      width: 97.91666667%
    }
  }

  @media screen and (min-width:740px) and (max-width:979px) {
    .row .tablet-1 {
      width: 14.58333333%
    }

    .row .tablet-2 {
      width: 31.25%
    }

    .row .tablet-3 {
      width: 47.91666667%
    }

    .row .tablet-4 {
      width: 64.58333333%
    }

    .row .tablet-5 {
      width: 81.25%
    }

    .row .tablet-6 {
      width: 97.91666667%
    }
  }

  @media screen and (max-width:739px) {
    .row .mobile-1 {
      width: 31.25%
    }

    .row .mobile-2 {
      width: 64.58333333%
    }

    .row .mobile-3 {
      width: 97.91666667%
    }
  }
  
  
</style>

<div id="section-footer" class="section-footer">
  <div class="footer-section footer-template" data-section-id="footer" data-section-type="footer-section">
    <div class="row">
      <ul id="footer_icons" class="desktop-12 tablet-6 mobile-3">
        <li>
          <a href="https://www.facebook.com/Phrozen3D" target="_blank">
            <svg fill="#a1afbc" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 16 16" width="24px" height="24px"><path d="M 3.5 1 C 2.1250151 1 1 2.1250151 1 3.5 L 1 11.5 C 1 12.874985 2.1250151 14 3.5 14 L 11.5 14 C 12.874985 14 14 12.874985 14 11.5 L 14 3.5 C 14 2.1250151 12.874985 1 11.5 1 L 3.5 1 z M 3.5 2 L 11.5 2 C 12.335015 2 13 2.6649849 13 3.5 L 13 11.5 C 13 12.335015 12.335015 13 11.5 13 L 9.9042969 13 L 9.9042969 8.9667969 L 11.300781 8.9667969 L 11.509766 7.3574219 L 9.9042969 7.3574219 L 9.9042969 6.3320312 C 9.9042969 5.8660312 10.034031 5.5488281 10.707031 5.5488281 L 11.566406 5.5488281 L 11.566406 4.109375 C 11.417406 4.089375 10.907453 4.046875 10.314453 4.046875 C 9.0764531 4.046875 8.2304688 4.795875 8.2304688 6.171875 L 8.2304688 7.3574219 L 7 7.3535156 L 7 8.9628906 L 8.2304688 8.9667969 L 8.2304688 13 L 3.5 13 C 2.6649849 13 2 12.335015 2 11.5 L 2 3.5 C 2 2.6649849 2.6649849 2 3.5 2 z"/></svg>
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/phrozen3d/" target="_blank">
            <svg fill="#a1afbc" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" width="24px" height="24px">    <path d="M 8 3 C 5.243 3 3 5.243 3 8 L 3 16 C 3 18.757 5.243 21 8 21 L 16 21 C 18.757 21 21 18.757 21 16 L 21 8 C 21 5.243 18.757 3 16 3 L 8 3 z M 8 5 L 16 5 C 17.654 5 19 6.346 19 8 L 19 16 C 19 17.654 17.654 19 16 19 L 8 19 C 6.346 19 5 17.654 5 16 L 5 8 C 5 6.346 6.346 5 8 5 z M 17 6 A 1 1 0 0 0 16 7 A 1 1 0 0 0 17 8 A 1 1 0 0 0 18 7 A 1 1 0 0 0 17 6 z M 12 7 C 9.243 7 7 9.243 7 12 C 7 14.757 9.243 17 12 17 C 14.757 17 17 14.757 17 12 C 17 9.243 14.757 7 12 7 z M 12 9 C 13.654 9 15 10.346 15 12 C 15 13.654 13.654 15 12 15 C 10.346 15 9 13.654 9 12 C 9 10.346 10.346 9 12 9 z"/></svg>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/phrozen3d" target="_blank">
            <svg fill="#a1afbc" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 30 30" width="24px" height="24px">    <path d="M28,6.937c-0.957,0.425-1.985,0.711-3.064,0.84c1.102-0.66,1.947-1.705,2.345-2.951c-1.03,0.611-2.172,1.055-3.388,1.295 c-0.973-1.037-2.359-1.685-3.893-1.685c-2.946,0-5.334,2.389-5.334,5.334c0,0.418,0.048,0.826,0.138,1.215 c-4.433-0.222-8.363-2.346-10.995-5.574C3.351,6.199,3.088,7.115,3.088,8.094c0,1.85,0.941,3.483,2.372,4.439 c-0.874-0.028-1.697-0.268-2.416-0.667c0,0.023,0,0.044,0,0.067c0,2.585,1.838,4.741,4.279,5.23 c-0.447,0.122-0.919,0.187-1.406,0.187c-0.343,0-0.678-0.034-1.003-0.095c0.679,2.119,2.649,3.662,4.983,3.705 c-1.825,1.431-4.125,2.284-6.625,2.284c-0.43,0-0.855-0.025-1.273-0.075c2.361,1.513,5.164,2.396,8.177,2.396 c9.812,0,15.176-8.128,15.176-15.177c0-0.231-0.005-0.461-0.015-0.69C26.38,8.945,27.285,8.006,28,6.937z"/></svg>
          </a>
        </li>
        <li>
          <a href="https://www.youtube.com/channel/UCsrFxEzIMDsEF0yXv9Qp8pw/videos" target="_blank">
            <svg fill="#a1afbc" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" width="24px" height="24px">    <path d="M21.582,6.186c-0.23-0.86-0.908-1.538-1.768-1.768C18.254,4,12,4,12,4S5.746,4,4.186,4.418 c-0.86,0.23-1.538,0.908-1.768,1.768C2,7.746,2,12,2,12s0,4.254,0.418,5.814c0.23,0.86,0.908,1.538,1.768,1.768 C5.746,20,12,20,12,20s6.254,0,7.814-0.418c0.861-0.23,1.538-0.908,1.768-1.768C22,16.254,22,12,22,12S22,7.746,21.582,6.186z M10,14.598V9.402c0-0.385,0.417-0.625,0.75-0.433l4.5,2.598c0.333,0.192,0.333,0.674,0,0.866l-4.5,2.598 C10.417,15.224,10,14.983,10,14.598z"/></svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="clear"></div>
    <div id="footer" class="row">
      <div class="desktop-2 tablet-3 mobile-3 footer-block footer-menu">
        <h4 class="new3">{{dc 'h_phrozen_help_center_company'}}</h4>
        <hr class="new1">
        <ul>          
          <li><a href="https://phrozen3d.com/" target="_blank" title="">{{dc 'h_phrozen_help_center_phrozen_global'}}</a></li>
           
          <li><a href="https://us.phrozen3d.com/?_gl=1*qx7m4n*_ga*MTMxMDgzMTM0OC4xNjg0ODA5OTU4*_ga_X652ENB2T5*MTY5OTkzMTIxMy44OC4xLjE2OTk5MzE1MDcuNDguMC4w" target="_blank" title="">{{dc 'h_phrozen_help_center_phrozen_us'}}</a></li>
        
          <li><a href="https://eu.phrozen3d.com/?_gl=1*n62lb*_ga*NjE0NjIzNzAuMTY5OTc5MjUwNQ..*_ga_X652ENB2T5*MTY5OTc5MjUwNC4xLjEuMTY5OTc5MzY1Ny41NC4wLjA." target="_blank" title="">{{dc 'h_phrozen_help_center_phrozen_eu'}}</a></li>

          <li><a href="https://phrozen3d.com.tw/" target="_blank" title="">{{dc 'h_phrozen_help_phrozen_tw'}}</a></li>

          <li><a href="https://dental.phrozen3d.com/" target="_blank" title="">{{dc 'h_phrozen_help_phrozen_dental'}}</a></li>
        </ul>
      </div>
      <div class="desktop-2 tablet-3 mobile-3 footer-block footer-menu">
        <h4 class="new3">{{dc 'h_phrozen_help_center_support'}}</h4>
        <hr class="new1">
        <ul>
          <li><a href="{{dc 'h_phrozen_help_center_tutorials_video_link'}}" target="_blank" title="">{{dc 'h_phrozen_help_center_tutorials_video'}}

</a></li>

          <li><a href="{{dc 'h_phrozen_help_center_resin_profile_link'}}" target="_blank" title="">{{dc 'h_phrozen_help_center_resin_profile'}}</a></li>
          
          <li><a href="{{dc 'h_phrozen_help_center_reseller_link'}}" target="_blank" title="">{{dc 'h_phrozen_help_center_find_resller'}}</a></li>
        </ul>
      </div>
      <div class="desktop-2 tablet-3 mobile-3 footer-block footer-menu">
        <h4 class="new3">{{dc 'h_phrozen_help_center_downloads'}}</h4>
        <hr class="new1">
        <ul>
          <li><a href="{{dc 'h_phrozen_help_center_import_doc_link'}}" target="_blank" title="">{{dc 'h_phrozen_help_center_import_doc'}}

</a></li>

          <li><a href="{{dc 'h_phrozen_help_firmware_link'}}" target="_blank" title="">{{dc 'h_phrozen_help_firmware'}}

</a></li>

          <li><a href="{{dc 'h_phrozen_help_center_user_manual_link'}}" target="_blank" title=""> {{dc 'h_phrozen_help_center_user_manual'}}</a></li>

          <li><a href="{{dc 'h_phrozen_help_center_slicer_link'}}" target="_blank" title="">{{dc 'h_phrozen_help_center_slicer'}}</a></li>
        </ul>
      </div>
      <div class="desktop-2 tablet-3 mobile-3 footer-block footer-menu">
        <h4 class="new3">{{dc 'h_phrozen_help_center_policy'}}</h4>
        <hr class="new1">
        <ul>
          <li><a href="{{dc 'h_phrozen_help_center_refund_policy_link'}}">{{dc 'h_phrozen_help_center_refund_policy'}}</a></li>

          <li><a href="{{dc 'h_phrozen_help_center_shipping_policy_link'}}">{{dc 'h_phrozen_help_center_shipping_policy'}}</a></li>

          <li><a href="{{dc 'h_phrozen_help_center_warranty_policy_link'}}">{{dc 'h_phrozen_help_center_warranty_policy'}}</a></li>
        
          <li><a href="{{dc 'h_phrozen_help_center_repair_policy_link'}}">{{dc 'h_phrozen_help_center_repair_policy'}} </a></li>
          
          <li><a href="{{dc 'h_phrozen_help_center_privacy_policy_link'}}">{{dc 'h_phrozen_help_center_privacy_policy'}}</a></li>
        </ul>
      </div>
    </div>
    <div id="bottom-footer" class="row">
      <p class="new2">
        <a href="/">© 2024 Phrozen Technology</a> • 287 Niupu Rd, Xiangshan Dist, Hsinchu City 30091, Taiwan (R.O.C.)
      </p>
    </div>
  </div>
  <div class="clear"></div>
</div>


<style>

 a, a:visited {
  color: #fff;
}
</style>
